vehicle_mapper/*.gem
vehicle_mapper/*.rbc
vehicle_mapper/.config
vehicle_mapper/coverage/
vehicle_mapper/InstalledFiles
vehicle_mapper/pkg/
vehicle_mapper/spec/reports/
vehicle_mapper/spec/examples.txt
vehicle_mapper/test/tmp/
vehicle_mapper/test/version_tmp/
vehicle_mapper/tmp/**/**

# Used by dotenv library to load environment variables.
vehicle_mapper/.env
frontend/.env

# Ignore Byebug command history file.
vehicle_mapper/.byebug_history

## Environment normalization:
vehicle_mapper/.bundle/
vehicle_mapper/vendor/bundle
vehicle_mapper/lib/bundler/man/

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
vehicle_mapper/.rvmrc

# Used by RuboCop. Remote config files pulled in from inherit_from directive.
# .rubocop-https?--*
